.col-list
  margin: 0
  display: inline-block
  
.list-group-item
  display: flex
  align-items: center
  border-bottom: 2px solid rgba(0,0,0,.125)
  
.btn-add
  border-radius: 50%
  width: 50px
  height: 50px
  font-size: 24px

.link-btn
  position: fixed
  bottom: 30px
  right: 30px