.firts-icon
  margin: 0
  position: relative
  text-align: center

.firts-icon small
  position: absolute
  left: 25%
  bottom: 0%

.icon-form
  font-size: 40px
  line-height: 2
  display: flex
  justify-content: center

.icons-list
  -webkit-column-count: 3
  -moz-column-count: 3
  column-count: 3
  margin-left: 34px
  margin-right: 34px
  
.custom-control-label
  width: 100%